Bonus_UptimeMonitor_Nandeesh M H.json
{
    "name": "My workflow 7",
    "nodes": [{
            "parameters": {
                "rule": {
                    "interval": [{
                        "field": "cronExpression",
                        "expression": "*/5 * * * *"
                    }]
                }
            },
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1.3,
            "position": [
                0,
                0
            ],
            "id": "428eb778-9fc0-456b-b4d9-f65f57bb82c5",
            "name": "Schedule Trigger",
            "alwaysOutputData": false,
            "executeOnce": false
        },
        {
            "parameters": {
                "url": "https://demo.realworld.io",
                "options": {
                    "response": {
                        "response": {
                            "fullResponse": true,
                            "neverError": true,
                            "responseFormat": "text"
                        }
                    }
                }
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                208,
                0
            ],
            "id": "c3a09693-1a05-4672-8347-1ed1115bd1fa",
            "name": "HTTP Request",
            "retryOnFail": true,
            "onError": "continueErrorOutput"
        },
        {
            "parameters": {
                "conditions": {
                    "options": {
                        "caseSensitive": true,
                        "leftValue": "",
                        "typeValidation": "strict",
                        "version": 3
                    },
                    "conditions": [{
                        "id": "135347df-8dbf-49d9-b09d-954fef7c37a0",
                        "leftValue": "={{$json.statusCode}}",
                        "rightValue": 200,
                        "operator": {
                            "type": "number",
                            "operation": "notEquals"
                        }
                    }],
                    "combinator": "and"
                },
                "options": {}
            },
            "type": "n8n-nodes-base.if",
            "typeVersion": 2.3,
            "position": [
                416, -96
            ],
            "id": "be122c51-4873-46d3-91f6-6964cab56352",
            "name": "If"
        },
        {
            "parameters": {
                "method": "POST",
                "url": "https://discord.com/api/webhooks/1506832140623679538/vYXE0Q4nbh7sVxm2K9MkxnJAy47B87j7-GCP85XBBMtcJQ55AVpFkeSJ-KlFabhPuYG2",
                "sendBody": true,
                "specifyBody": "json",
                "jsonBody": "={\n  \"content\": \"⚠️ Website Down Alert\\n\\nApplication:\\nhttps://demo.realworld.io\\n\\nStatus Code:\\n{{$json.statusCode}}\\n\\nPlease check immediately.\"\n}",
                "options": {}
            },
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.4,
            "position": [
                640, -128
            ],
            "id": "a44d8188-0f5c-42d7-90ab-e8a630be7306",
            "name": "HTTP Request1",
            "retryOnFail": true,
            "onError": "continueErrorOutput"
        }
    ],
    "pinData": {},
    "connections": {
        "Schedule Trigger": {
            "main": [
                [{
                    "node": "HTTP Request",
                    "type": "main",
                    "index": 0
                }]
            ]
        },
        "HTTP Request": {
            "main": [
                [{
                    "node": "If",
                    "type": "main",
                    "index": 0
                }]
            ]
        },
        "If": {
            "main": [
                [{
                    "node": "HTTP Request1",
                    "type": "main",
                    "index": 0
                }]
            ]
        }
    },
    "active": true,
    "settings": {
        "executionOrder": "v1",
        "binaryMode": "separate"
    },
    "versionId": "51b3b355-8306-44dd-a66c-ff58e35f86d6",
    "meta": {
        "instanceId": "e450b8742e843a0b1db58633c017adca26a10a332b9b46a34161b7199268c916"
    },
    "id": "9zUdcQFNZCEbMW9V",
    "tags": []
}